
#navBar{

background-color: rgb(156, 156, 2);
display: grid;
grid-template-columns: 70% 70%;
}
#navlist{
    list-style-type: none;

}

#navlist>li{
    display: inline-block;
    font-size: 20px;
    margin-right: 80px;
}
#logo{
    border-radius:80px;
    width: 100px;
}
.link{
    text-decoration: none;
    color: white;
}
.active{
    color: blue;
}




.card1 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
   .card1:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card1:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   .card2 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    
   }
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
   .card2:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card2:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
    .card3{
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    
   }
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
   .card3:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card3:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
